{{extend 'layout.html'}}
<div id="front_page">

<div class="row-fluid" id="top_section">
<div class="span4 offset8">
    {{=LOAD(c='search', f='box', extension='load', ajax=False, content='')}}
</div>
</div>

<div class="row-fluid" id="intro_section">
<div class="span7" id="intro">
This is a not-for-profit site dedicated to promoting self-publishing comic
creators. It's also an attempt to help readers by organizing content produced
by these creators.
</div>
</div>

<div class="row-fluid" id="middle_section">
<div class="span12" id="top_10_heading">
    <ul class="nav nav-tabs">
    {{orderbys = ['views', 'newest']}}
    {{orderby = request.vars.o if request.vars.o in orderbys else orderbys[0]}}
    {{for o in orderbys:}}
        <li class="nav-tab {{if o == orderby:}}active{{pass}}">
            {{orderby_vars = dict(request.vars)}}
            {{orderby_vars['o'] = o}}
            <a href="{{=URL(r=request, vars=orderby_vars)}}">{{=o}}</a>
        </li>
    {{pass}}
    </ul>
</div>
</div>
<div id="grid_section">
{{func = request.vars.view or 'front_grid'}}
{{=LOAD(c='mock', f=func, args=request.args, vars=request.vars, extension='load', ajax=True)}}
</div>
</div>
