{{from applications.zcomix.modules.utils import ItemDescription}}
{{extend 'profile/layout.html'}}
<div id="profile_book_pages_page">
    <div class="row-fluid">
        <div class="span7" id="left_column">
            <div id="book_name">
                {{=book.name}} ({{=db.book.release_date.represent(book.release_date, book)}})
            </div>
            <div class="muted">
            {{=ItemDescription(book.description).as_html(**dict(_id='book_description'))}}
            </div>
        </div>
        <div class="span5" id="right_column">
            {{=read_button}}
        </div>
    </div>
    <div class="container">
        <form id="fileupload" action="/zcomix/profile/book_pages_handler/{{=book.id}}" method="POST" enctype="multipart/form-data">
            <noscript><input type="hidden" name="redirect" value="/zcomix/profile/book_edit/{{=book.id}}"></noscript>
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="up_files" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" class="toggle">
                    <span class="fileupload-process"></span>
                </div>
                <div class="col-lg-5 fileupload-progress fade">
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        </form>
        <br>
    </div>
</div>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <a href="" class="reorder-arrow reorder-arrow-up" data-book_id="{%=file.book_id%}" data-book_page_id="{%=file.book_page_id%}" data-dir="up">
            <span class="icon arrow-up icon-arrow-up" title="Move up"></span>
            </a>
            <a href="" class="reorder-arrow reorder-arrow-down" data-book_id="{%=file.book_id%}" data-book_page_id="{%=file.book_page_id%}" data-dir="down">
            <span class="icon arrow-down icon-arrow-down" title="Move down"></span>
            </a>
        </td>
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/vendor/jquery.ui.widget.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Templates/js/tmpl.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/JavaScript-Load-Image/js/load-image.min.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.iframe-transport.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-process.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-image.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-audio.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-video.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-validate.js')}}"></script>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/jquery.fileupload-ui.js')}}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="{{=URL('static', 'blueimp/jQuery-File-Upload/js/cors/jquery.xdr-transport.js')}}"></script>
<![endif]-->

<script src="{{=URL(c='static', f='js/description.js')}}"> </script>
<script>
//<![CDATA[
    function clear_download(context) {
        table = context.closest('table')
        table.find('tr.template-download').each(function(e) {
            $(this).remove();
        });

    }

    function display_download() {
        $('#fileupload').addClass('fileupload-processing');
        $.ajax({
            // Uncomment the following to send cross-domain cookies:
            //xhrFields: {withCredentials: true},
            url: $('#fileupload').fileupload('option', 'url'),
            dataType: 'json',
            context: $('#fileupload')[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            $(this).fileupload('option', 'done')
                .call(this, $.Event('done'), {result: result});
        });
    }

    function set_arrows() {
        $('.reorder-arrow').removeClass('arrow-muted');
        $('.reorder-arrow-up').first().addClass('arrow-muted');
        $('.reorder-arrow-down').last().addClass('arrow-muted');
    }

    function set_reorder_links() {
        $('.reorder-arrow').click(function(e) {
            e.preventDefault();

            $('#fileupload').addClass('fileupload-processing');

            var url = '/zcomix/profile/book_pages_reorder'
            url = url + '/' + $(this).data('book_id');
            url = url + '?book_page_id=' + $(this).data('book_page_id');
            url = url + '&dir=' + $(this).data('dir');

            var that = $(this);

            $.ajax({
                url: url,
                dataType: 'json'
            }).always(function () {
                $('#fileupload').removeClass('fileupload-processing');
            }).done(function (result) {
                if (result['success']) {
                    var tr = that.closest('tr');
                    tr.fadeOut(400, function() {
                        if (that.data('dir') === 'down') {
                            tr.next().after(tr);
                        }
                        else {
                            tr.prev().before(tr);
                        }
                        tr.fadeIn(400, function() {
                            set_arrows();
                        });
                    });
                }
                else {
                    clear_download(that);
                    display_download();
                }
            })
        });
    }

    $(document).ready(function(){
        $('#fileupload').fileupload({
            url: '/zcomix/profile/book_pages_handler/{{=book.id}}'
        });
        $('#fileupload')
            .on('fileuploaddestroyed', function (e, data) {
                set_arrows();
                })
            .on('fileuploadfinished', function (e, data) {
                set_reorder_links();
                set_arrows();
            });
        display_download();
    });
//]]>
</script>
