{{extend 'profile/layout.html'}}
<dl class="dl-horizontal">
    <dt>Creator:</dt><dd>{{=auth.user.name}}</dd>
    <dt>Book:</dt><dd>{{=book.name}}</dd>
</dl>
<div>
{{=form}}
</div>
<h4>Instructions</h4>
<div class="text-muted">
    <p>Use custom links to direct readers to pages related to this book.</p>
    <p>For example:</p>
    <dl class="dl-horizontal">
    <dt>URL:</dt><dd>http://www.vforvendetta.org</dd>
    <dt>Text:</dt><dd>vforvendetta</dd>
    <dt>Title:</dt><dd>The ultimate V For Vendetta collection website.</dd>
    </dl>
    <p>
    The resulting link is: <a href="http://www.vforvendetta.org" title="The ultimate V For Vendetta collection website." target="_blank">vforvendetta</a>
    </p>
    <p>
    Note: Do not add links to sites or pages dedicated to you and your services
    here. The <a href="{{=URL(c='profile', f='creator_links')}}">creator links page</a> can be used for that.
    <p>
</div>
