{{extend 'profile/layout.html'}}
<div id="edit_links_container">
    <div class="edit_link_template edit_link_container">
        <div class="edit_link_name edit_field"></div>
        <div class="edit_link_url edit_field"></div>
        <button type="button" class="btn btn-default btn-xs edit_link_delete">
              <i class="icon fi-trash size-18"></i>
        </button>
    </div>
</div>
<div id="add_link_container">
    <div class="input_container">
        <input type="text" name="link_name" value="" id="link_name">
        <div class="error_wrapper">
            <div id="link_name_error" class="error" style="display: inline-block;"></div>
        </div>
    </div>
    <div class="input_container">
        <input type="text" name="link_url" value="" id="link_url" placeholder="http://www.example.com">
        <div class="error_wrapper">
            <div id="link_url_error" class="error" style="display: inline-block;"></div>
        </div>
    </div>
</div>
<input type="hidden" name="creator_id" value="{{=creator.id}}" id="creator_id">
<script>
//<![CDATA[
    function delete_callback(e) {
        e.preventDefault();
        var link_id = $(this).parent().attr('id').replace('link_row_', '');
        var creator_id = $('input#creator_id').val();
        $.ajax({
            url: '/zcomix/profile/link_crud.json',
            type: 'POST',
            data: {
                'action': 'delete',
                'creator_id': creator_id,
                'link_id': link_id,
            },
            error: function (data, textStatus) {
                console.log('error data: ' + data.toString());
                console.log('textStatus: ' + textStatus.toString());
                //set_error({data: data, textStatus: textStatus});
                console.log('data.errors: ' + data.errors.toString());
                console.log('data.errors.url: ' + data.errors.url.toString());
            },
            success: function (data) {
                delete_link_onsuccess(data);
            }
        });
    }

    function delete_link_onsuccess(data) {
        console.debug("%o", data);
        console.log("%o", data);
        var record_id = data.id;
        $('#link_row_' + data.id).remove();
    }

    function load_link(row) {
        var clone = $('.edit_link_template').clone()
        clone.removeClass('edit_link_template');
        clone.appendTo('#edit_links_container')
        clone.attr('id', 'link_row_' + row.id.toString());
        clone.find('.edit_link_name').text(row.name);
        clone.find('.edit_link_name').editable(editable_callback, editable_settings());
        clone.find('.edit_link_url').text(row.url);
        clone.find('.edit_link_url').editable(editable_callback, editable_settings());
        clone.find('.edit_link_delete').click( delete_callback );
    }

    function load_links_onsuccess(data) {
        console.debug("%o", data);
        if (data.errors && data.errors.length > 0) {
            $.each(data.errors, function(k, v) {
                console.log('k: ' + k.toString());
                console.log('v: ' + v.toString());
            });
        }
        else {
            $.each(data.rows, function(k, v) {
                load_link(v);
            });
        }
    }

    function load_links(link_id) {
        if (link_id === undefined) link_id = 0;
        var creator_id = $('input#creator_id').val();
        $.ajax({
            url: '/zcomix/profile/link_crud.json',
            type: 'POST',
            data: {
                'action': 'get',
                'creator_id': creator_id,
                'link_id': link_id,
            },
            error: function (data, textStatus) {
                console.log('error data: ' + data.toString());
                console.log('textStatus: ' + textStatus.toString());
                //set_error({data: data, textStatus: textStatus});
                console.log('data.errors: ' + data.errors.toString());
                console.log('data.errors.url: ' + data.errors.url.toString());
            },
            success: function (data) {
                load_links_onsuccess(data);
            }
        });
    }

    function editable_callback(value, settings) {
        var field = $(this).attr('class').replace(' edit_field', '').replace('edit_link_', '');
        var link_id = $(this).parent().attr('id').replace('link_row_', '');
        var creator_id = $('input#creator_id').val();
        $.ajax({
            url: '/zcomix/profile/link_crud.json',
            type: 'POST',
            data: {
                'action': 'update',
                'creator_id': creator_id,
                'link_id': link_id,
                'field': field,
                'value': value,
            },
            error: function (data, textStatus) {
                console.log('error data: ' + data.toString());
                console.log('textStatus: ' + textStatus.toString());
                //set_error({data: data, textStatus: textStatus});
                console.log('data.errors: ' + data.errors.toString());
                console.log('data.errors.url: ' + data.errors.url.toString());
            },
            success: function (data) {
                console.debug("%o", data);
                //load_links_onsuccess(data);
            }
        });
        return(value);
    }

    function editable_settings() {
        return {
            onblur: 'submit',
        }
    }

    function clear_add_container() {
        $('input#link_url').val('');
        $('input#link_name').val('');
        $('.error_wrapper').hide();
    }

    function input_onfocus(elem) {
        $('input#link_url').data('has_focus', false);
        $('input#link_name').data('has_focus', false);
        elem.data('has_focus', true);
    }

    function ajax_onsuccess(data) {
        console.debug('success data: %o', data);
        if (data.errors && data.errors.length > 0) {
            $.each(data.errors, function(k, v) {
                $('#link_' + k + '_error').text(v);
                $('#link_' + k + '_error').closest('.error_wrapper').show();
                $('#link_' + k).focus();
            });
        }
        else {
            console.log('data.id: ' + data.id.toString());
            load_links(data.id);
            clear_add_container();
        }
    }

    function input_onblur(elem) {
        var with_focus = $('#add_link_container input:focus').length;
        if (with_focus === 0) {
            var url = $('input#link_url').val();
            var name = $('input#link_name').val();
            var creator_id = $('input#creator_id').val();
            if (url) {
                console.log('Saving...');
                $.ajax({
                    url: '/zcomix/profile/link_crud.json',
                    type: 'POST',
                    data: {
                        'action': 'create',
                        'creator_id': creator_id,
                        'link_id': 0,
                        'name': name,
                        'url': url,
                    },
                    error: function (data, textStatus) {
                        console.log('error data: ' + data.toString());
                        console.log('textStatus: ' + textStatus.toString());
                        //set_error({data: data, textStatus: textStatus});
                        console.log('data.errors: ' + data.errors.toString());
                        console.log('data.errors.url: ' + data.errors.url.toString());
                    },
                    success: function (data) {
                        ajax_onsuccess(data);
                    }
                });
            }
            else {
                clear_add_container();
            }
        }
    }

    $(document).ready(function(){
        load_links();
        try {
            $('#add_link_container input').focus(function(e){
                input_onfocus($(this));
            }).blur(function(e){
                setTimeout(function() {
                    input_onblur($(this));
                }.bind(this), 100);
            }).keyup(function(event){
                if (event.which == 13) {
                    if ($(this).next().is(':visible')) {
                        $(this).next().focus();
                    }
                    else {
                        $(this).blur();
                    }
                    event.preventDefault();
                }
            }).keydown(function( event ) {
                if ( event.which == 13 ) {
                    event.preventDefault();
                }
            });
            //$('.edit_link_delete').on('click', delete_callback);
            $('.edit_link_delete').on('click', function(e) {
                    console.log('x CALLED');
                    });
        }
        catch(e) {
            console.log(e);
        }
    });
//]]>

</script>
<script src="{{=URL(c='static', f='js/jquery.jeditable.mini.js')}}"> </script>
