{{from applications.zcomix.modules.utils import profile_wells}}
{{extend 'layout_main.html'}}
<div id="profile_page">
{{wells = profile_wells(request)}}
{{for well in wells.keys():}}
    {{if not 'status' in wells[well] or not wells[well]['status']:}}
        {{continue}}
    {{if wells[well]['status'] == 'text':}}
        <div class="well well-sm" id="{{=well}}">
            {{=wells[well]['label']}}
    {{else:}}
        {{args = wells[well]['args'] if 'args' in wells[well] else None}}
        <div class="well well-sm" id="{{=well}}">
            <a href="{{=URL(well, args=args, anchor=well)}}">{{=wells[well]['label']}}</a>
    {{pass}}
    </div>
    {{if request.function == well:}}
        {{include}}
    {{pass}}
{{pass}}
</div>
