{{from applications.zcomix.modules.images import img_tag}}
{{from applications.zcomix.modules.utils import ItemDescription}}
{{extend 'layout.html'}}
<div id="book_page">
<div class="row">
    <div class="col-sm-3 col-sm-offset-9">
        {{=LOAD(c='search', f='box', extension='load', ajax=False, content='')}}
    </div>
</div>
<div class="row">
    <div class="col-sm-5" id="left_column">
        <div id="book_cover_img">
            {{=cover_image}}
        </div>
    </div>
    <div class="col-sm-7" id="right_column">
        <div id="book_name">
            {{=book.name}} ({{=db.book.release_date.represent(book.release_date, book)}})
        </div>
        {{=ItemDescription(book.description).as_html(**dict(_id='book_description'))}}
        <div class="row" id="book_specs_read">
            <div class="col-sm-7" id="book_specs_column">
                <div id="contribute_widget_container">
                {{=LOAD(c='contributions', f='contribute_widget', args=book.id, extension='load', ajax=True, content='')}}
                </div>
                <table>
                    <tr><td>Pages</td><td>{{=page_count}}</td></tr>
                    <tr><td>Status</td><td>{{='released' if book.release_date else 'ongoing'}}</td></tr>
                    <tr><td>Rating</td><td>{{='{r:0.1f}'.format(r=book.rating_year)}}</td></tr>
                    <tr><td>Views</td><td>{{=book.views_year}}</td></tr>
                    <tr><td>Downloads</td><td>{{=book.downloads or 0}}<a class="btn btn-default btn-sm fixme" type="button">download</a>
                    </td></tr>
                    {{if links:}}
                    <tr><td>Paper Copy</td>
                        <td>
                            {{=links}}
                        </td>
                    </tr>
                    {{pass}}
                </table>
            </div>
            <div class="col-sm-5" id="read_column">
                {{=read_button}}
            </div>
        </div>
        <hr>
        <div class="row" id="creator">
            <div class="col-sm-3" id="creator_img_column">
                <div id="contributions_container">
                    <div id="creator_mug_shot">
                        <a href="{{=URL(c='creators', f='creator', args=creator.id)}}">
                        {{=img_tag(creator.image, size='thumb')}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" id="creator_details_column">
                <dl class="dl-horizontal">
                <dt>creator:</dt>
                <dd><a href="{{=URL(c='creators', f='creator', args=creator.id)}}">{{=creator.name}}</a></dd>
                {{for f in ['website', 'email', 'twitter', 'tumblr']:}}
                    {{try:}}
                    {{if creator[f]:}}
                        <dt>{{=f}}:</dt>
                        <dd>{{=db.creator[f].represent(creator[f], creator)}}</dd>
                    {{pass}}
                    {{except:}}
                    {{pass}}
                {{pass}}
                <dt>wikipedia:</dt>
                <dd><a href="http://en.wikipedia.org/wiki/Charles_Forsman" class="fixme">en.wikipedia.org/wiki/Charles_Forsman</a>
                </dd>
                <dt>torrent: </dt>
                <dd><a href="fixme" class="fixme">ALL-Charles-Forsman.torrent</a></dd>
                {{if creator_links:}}
                    <dt>links:</dt>
                    <dd>{{=creator_links}}</dd>
                {{pass}}
                </dl>
            </div>
        </div>

    </div>
</div>
<script src="{{=URL(c='static', f='js/description.js')}}"> </script>
