{{from applications.zcomix.modules.images import img_tag}}
{{extend 'books/reader.html'}}

<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="links">
    {{for count, page in enumerate(pages):}}
        {{=img_tag(page.image, size=size)}}
    {{pass}}
</div>

<!--
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery.min.js')}}"></script>
-->
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-helper.js')}}"></script>
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery.js')}}"></script>
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery-fullscreen.js')}}"></script>
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery-indicator.js')}}"></script>
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery-video.js')}}"></script>
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery-youtube.js')}}"></script>
<script src="{{=URL('static', 'blueimp/Gallery/js/blueimp-gallery-vimeo.js')}}"></script>

<script>
//<![CDATA[
    $(document).ready(function(){
        blueimp.Gallery(
            document.getElementById('links').getElementsByTagName('a'),
            {
            container: '#blueimp-gallery-carousel',
            carousel: true
            }
        );
    });
//]]>
</script>

