{{extend 'layout.html'}}
<style type="text/css" media="screen">
    #reader_section {
        {{if book.background_colour:}}
        background-color: {{=book.background_colour}};
        {{else:}}
        background-color: #ffffff;
        {{pass}}
    }

    #reader_section img {
        {{if book.border_colour:}}
        border: 0.2em solid {{=book.border_colour}};
        {{else:}}
        border: none;
        {{pass}}
    }
</style>
<div class="container">
    <div id="reader_page_header_margin">
        <div id="reader_page_header">
            <div class="row" id="top_section">
                <div class="col-sm-4 col-sm-offset-8">
                    {{=LOAD(c='search', f='box', extension='load', ajax=False, content='')}}
                </div>
            </div>
            <div class="row" id="name_creator_section">
                <div class="col-sm-12" id="name_creator">
                    <div id="book_name" class="row">
                        <a href="{{=URL(c='books', f='book', args=book.id)}}">
                        {{=book.name}} ({{=db.book.release_date.represent(book.release_date, book)}})
                        </a>
                    </div>
                    <div id="creator" class="row">
                        <div id="creator_name">
                            <a href="{{=URL(c='creators', f='creator', args=creator.id)}}">{{=creator.name}}</a>
                        </div>
                    </div>
                    <div class="row scroll_slide_options">
                        <div class="btn-group">
                            {{for s in ['slider', 'scroller']:}}
                                {{status = 'disabled' if request.function == s else 'active'}}
                                {{=A(
                                    SPAN(s if s == 'slider' else 'scroll'),
                                    _href=URL(c='books', f=s, args=request.args, vars=request.vars),
                                    _class='btn btn-default {st}'.format(st=status),
                                    _type='button',
                                    cid=request.cid
                                )}}
                            {{pass}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reader_section">
{{include}}
</div>


<div class="container">
    <div id="reader_page_footer_margin">
        <div id="reader_page_footer">
            <div class="row" id="contribute_download_section">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        {{if creator.paypal_email:}}
                        <li>
                            <div id="contribute_widget_container">
                                {{=LOAD(c='contributions', f='contribute_widget', args=book.id, extension='load', ajax=True, content='')}}
                            </div>
                        </li>
                        {{pass}}
                        <li>
                            <a class="fixme" href="#">download</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
