{{
response.files.insert(0,URL('static','js/jquery.js'))
response.include_files()
}}
<form id="paypal_form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="{{try:}}{{=creator.paypal_email}}{{except:}}{{pass}}">
<input type="hidden" name="lc" value="CA">
<input type="hidden" name="item_name" value="{{try:}}{{=book.name}}{{except:}}{{pass}}">
<input type="hidden" name="item_number" value="{{try:}}{{=book.id}}{{except:}}{{pass}}">
{{if request.vars.amount:}}
<input id="paypal_amount" type="hidden" name="amount" value="{{try:}}{{=request.vars.amount}}{{except:}}{{pass}}">
{{pass}}
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
</form>
<script src="{{=URL(c='static', f='js/paypal.js')}}"> </script>
