/*
    @screen-xs       480px
    @screen-sm       768px
    @screen-md       992px
    @screen-lg       1200px
*/

@charset "UTF-8";
/* custom \\\ */
.table {display: table}
.table-row {display: table-row}
.table-cell {display: table-cell}

.form-control::-webkit-input-placeholder {
    color: #999999;
}
.form-control:-moz-placeholder {
    color: #999999;
}
.form-control::-moz-placeholder {
    color: #999999;
}
.form-control:-ms-input-placeholder {
    color: #999999;
}

input::-webkit-input-placeholder {
    color: #999999;
}
input:-moz-placeholder {
    color: #999999;
}
input::-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder {
    color: #999999;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus::-ms-input-placeholder{
    color: transparent!important;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover, a:focus {
    color: #0000FF;
}


hr {
    border-color: #DDDDDD;
}

div.centered {
    text-align: center;
}

div.centered table {
    margin: 0 auto;
    text-align: left;
}

.align_center {
    text-align: center;
}

.form-control {
    box-shadow: none;
}

.form-control:focus {
    border-color: #CCCCCC;
    box-shadow: none;
}

.placeholder_170x170 {
    border: 0.8em double #EEEEEE;
}

.portrait_placeholder {
    border: 1.4em double #EEEEEE;
}

#header {
    margin-top: 0;
}

.main {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 24em;
}

#search {
    padding-bottom: 5em;
}

#search input {
    background-color: #fff;
    color: #666666;
    font-size: 13pt;
    height: 2.5em;
    max-width: 16em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
    border-radius: 0.4em;
    border: 1px solid #666666;
    box-shadow: none;
    padding: 4px 14px;
}

.custom_link {
    padding-right: 0.6em;
}

#web2py_user_form {
    margin-top: 12%;
}

#profile_page .well {
    margin-bottom: 10px;
    margin-top: 10px;
}

#profile_page #web2py_user_form {
    margin: 1em;
}

#profile_page .change_password_container {
    border-left: 1px solid #DDDDDD;
    margin-bottom: 0.8em;
}

#profile_page .vertical_spacer {
    min-height: 2em;
}

@media (max-width: 480px) {
    #web2py_user_form .web2py_user_form_container {
        margin-left: 0;
        width: 100%;
    }
}


#web2py_user_form .form-group {
    margin-bottom: 0;
}

#web2py_user_form input {
    border-radius: 3px;
}

#web2py_user_form input[type=password],
#web2py_user_form input[type=text] {
    height: 3em;
    margin-bottom: 0.3em;
    width: 100%;
}

#web2py_user_form input[type=submit] {
    background-color: #666666;
    border-color: #555555;
    font-weight: bold;
    margin-top: 1em;
}

#web2py_user_form input[type=submit]:hover,
#web2py_user_form input[type=submit]:focus,
#web2py_user_form input[type=submit]:active,
#web2py_user_form input[type=submit].active {
    background-color: #777777;
    border-color: #666666;
}

#web2py_user_form .labels_hidden {
    display: none;
}

#web2py_user_form #auth_user_remember {
    display: inline-block;
    opacity: 0.3;
}

#web2py_user_form label[for=auth_user_remember] {
    color: #AAAAAA;
    display: inline-block;
    font-size: 8pt;
    font-weight: normal;
    vertical-align: middle;
}

#web2py_user_form .forgot_password_container,
#web2py_user_form .register_container {
    color: #BBBBBB;
    margin: 1em;
    text-align: center;
}

#web2py_user_form .forgot_password_container a,
#web2py_user_form .register_container a {
    color: #AAAAAA;
}

#web2py_user_form .align_left {
    text-align: left;
}

#web2py_user_form .form-horizontal .checkbox {
    min-height: inherit;
}

#front_page {
    margin: 1em;
}

#front_page #intro {
    background: #666666;
    color: #FFFFFF;
    padding: 2em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -o-border-radius: 1em;
    -ms-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
}

#front_page #options_section {
    margin-top: 3em;
}

#options_container  {
    padding-left: 0;
    padding-right: 0;
}

/* navs start */
#front_page #options_container .nav {
    margin-bottom: 0.5em;
    margin-left: 0;
}

#front_page #options_container .nav > li > a:hover,
#front_page #options_container .nav > li > a:focus {
  text-decoration: underline;
  background-color: inherit;
}
#front_page #options_container .nav-tabs {
  border-bottom: 1px solid #333333;
}
#front_page #options_container .nav-tabs > li > a {
  border: 1px solid transparent;
}
#front_page #options_container .nav-tabs > li > a:hover {
  border-bottom: 1px solid #333333;
}
#front_page #options_container .nav-tabs > li.active > a,
#front_page #options_container .nav-tabs > li.active > a:hover,
#front_page #options_container .nav-tabs > li.active > a:focus {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border-bottom-color: transparent;
  text-decoration: none;
}
/* navs end */

.list_tile_options {
    float: right;
    padding-top: 0.6em;
}

.list_tile_options .btn-lg, .list_tile_options .btn-group-lg > .btn {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.list_tile_options .btn-default {
    background-color: inherit;
    border-top: none;
    border-bottom: none;
}

.list_tile_options .btn-group > .btn:first-child {
    border-left: none;
    border-right: 2px solid #DDDDDD;
}

.list_tile_options .btn-group > .btn:last-child {
    border-right: none;
    border-left: 2px solid #DDDDDD;
}

.list_tile_options .btn:active, .list_tile_options .btn.active {
    box-shadow: none;
    color: #666666;
}

.list_tile_options .btn.disabled {
    opacity: 0.2;
}

.grid_section_header {
    font-size: 16pt;
    padding-top: 0.2em;
}
.grid_section .item_container {
    //background-color: #EEEEEE;
    border: 2px solid #DDDDDD;
    border-radius: 0.4em;
    margin: 0.4em 0;
}

.grid_section .item_container .image_container {
    text-align: left;
    margin-left: 0;
    height: 100%;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
    border-radius: 0.4em;
}

.grid_section .item_container .number {
    padding-top: 0.4em;
}


.grid_section .item_details {
    height: 100%;
}

.grid_section .item_details_padding {
    padding: 0.8em;
}

.grid_section .item_details .name {
    padding-bottom: 0.4em;
}

.grid_section .item_details .creator {
    font-size: 8pt;
}

.grid_section .item_details .unused_row{
    min-height: 1.0em;
}

#book_page #buttons_container .read,
.grid_section .buttons_orderby_container .read{
    letter-spacing: 0.1em;
    width: 100%;
}

#book_page #buttons_container .read .btn,
.grid_section .buttons_orderby_container .read .btn{
    //padding-left: 1.8em;
    //padding-right: 1.55em;
    width: 100%;
}

#book_page #buttons_container .download,
.grid_section .buttons_orderby_container .download {
    white-space: nowrap;
    padding-top: 0.2em;
    min-height: 1em;
    width: 100%;
}

#book_page #buttons_container .download .btn,
.grid_section .buttons_orderby_container .download .btn {
    width: 100%;
}


#book_page #buttons_container,
.grid_section .buttons_orderby_container {
    padding-top: 1em;
}

#book_page #buttons_container .button_container,
.grid_section .buttons_orderby_container .button_container {
    min-width: 6em;
}

#book_page #buttons_container .button_container .btn-default,
.grid_section .buttons_orderby_container .btn-default {
    background-color: #EEEEEE;
    border-color: #ADADAD;
}

#book_page #buttons_container .button_container .btn-default:hover,
#book_page #buttons_container .button_container .btn-default:focus,
#book_page #buttons_container .button_container .btn-default:active,
#book_page #buttons_container .button_container .btn-default.active,
.grid_section .buttons_orderby_container .btn-default:hover,
.grid_section .buttons_orderby_container .btn-default:focus,
.grid_section .buttons_orderby_container .btn-default:active,
.grid_section .buttons_orderby_container .btn-default.active  {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}

#book_page #buttons_container .button_container .btn-sm,
.grid_section .buttons_orderby_container .btn-sm {
    border-radius: 5px;
}

.grid_section .orderby_field_container {
    line-height: 1em;
    min-height: 1em;
}

.grid_section .orderby_field_label {
    padding-top: 0.6em;
    padding-right: 0.1em;
}

.grid_section .orderby_field_value {
    font-size: 18pt;
    padding-top: 0.4em;
    width: 100%;
}

.grid_section .web2py_paginator {
    background-color: inherit;
    border-top: 1px solid;
    margin-top: 0.6em;
    margin-left: -15px;
    margin-right: -15px;
}

.grid_section .web2py_counter {
    display: none;
}

.grid_section .web2py_grid thead th, .web2py_grid tfoot td {
    background-color: #EEEEEE;
    font-weight: normal;
}

.grid_section .web2py_grid tr:hover {
    background-color: #EEEEEE;
}

@media screen and (max-width: 767px){
    .grid_section .item_container .image_container {
        margin-left: 0.8em !important;
        margin-top: 2em !important;
    }
}

@media screen and (min-width: 768px){
    .grid_section .item_container {
        min-width: 30em;
    }

    .grid_section .item_container > .row {
        position: relative;
    }

    .grid_section .item_container .number {
        position: absolute;
        left: 0;
    }

    .grid_section .item_container .image_container {
        text-align: right;
    }

    .grid_section .item_container .image_container .placeholder_170x170 {
        float: right;
    }

    .grid_section .orderby_field_container {
        text-align: right;
        padding-top: 0.9em;
    }
}

@media screen and (min-width: 992px){

    #front_page #intro {
        margin-top: -3em;
    }

    .grid_section .odd {
        margin-left: 0 !important;
        margin-right: 0.57766% !important;
        width: 49.3762%;
        /* width: 48.9362%; */
    }

    .grid_section .even {
        margin-right: 0 !important;
        margin-left: 0.57766% !important;
        width: 49.3762%;
    }

    .grid_section .item_details .creator {
        text-align: right;
    }

    .grid_section .item_container > .row {
        height: 12.2em;
    }
}

#creator_page {
    margin: 1em;
}

#creator_page #name {
    font-size: 32pt;
    line-height: 1em;
}

#creator_page #bio {
    font-size: 9pt;
    line-height: 1.2em;
    margin: 1em 0;
}

#creator_page #report_section {
    padding-top: 1em;
}

#book_page .creator_img_container .placeholder_170x170,
#creator_page .creator_img_container .placeholder_170x170 {
    min-height: 170px;
    min-width: 150px;
}

@media screen and (min-width: 768px){
    #creator_page #name_bio {
        margin-top: -3em;
    }
}

#book_page {
    margin: 1em;
}

#book_page #book_cover_img .portrait_placeholder {
    min-height: 30em;
}

#book_page #book_name {
    font-size: 16pt;
}

#book_page #book_description {
    font-size: 9pt;
    line-height: 1.2em;
}

#book_page #contribute_widget_container {
    min-height: 2.9em;
}

#book_page #book_id_section {
    padding-top: 2em;
}

#book_page #book_id_section .contribute_widget {
    margin-left: 0;
}

.contribute_widget .input_group_container {
    display: inline-block;
}

.contribute_widget .input-group-addon {
    background-color: inherit;
    border-style: none;
    color: #666666;
    padding-left: 0;
    padding-right: 0.2em;
    padding-top: 0.2em;
}

.contribute_widget input {
    background-color: #FFFFFF;
    border-radius: 3px;
    border-bottom: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
    height: inherit;
    padding: 0;
    width: 4em;
}

.contribute_widget input.indented {
    padding: 0 0 0 0.9em;
}

.contribute_widget input::-webkit-input-placeholder {
    color: #888888;
}
.contribute_widget input:-moz-placeholder {
    color: #888888;
}
.contribute_widget input::-moz-placeholder {
    color: #888888;
}
.contribute_widget input:-ms-input-placeholder {
    color: #888888;
}

.contribute_widget div {
    vertical-align: middle;
}

.contribute_widget .contribute_link_container {
    display: inline-block;
    font-size: 12px;
}

.contribute_widget .contribute_error {
    display: inline-block;
    font-size: 10pt;
    margin-bottom: 0;
    margin-left: 1em;
    padding: 0 0.8em 0 0.4em;
}

.contribute_widget .contribute_error span {
    padding-right: 0.8em;
}

#book_page #creator {
    padding: 2em 0;
}

#book_page #creator_img_column {
    padding-right: 0;
}

#book_page #creator_links {
    padding-left: 0.8em;
}

#book_page #creator_mug_shot {
    text-align: right;
    float: right;
}

#book_page #creator_container {
    border: 2px solid #DDDDDD;
    margin-left: 15px;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -o-border-radius: 0.6em;
    -ms-border-radius: 0.6em;
    -khtml-border-radius: 0.6em;
    border-radius: 0.6em;
}

#book_id_section .custom_links,
#creator_id_section .custom_links {
    margin-bottom: 0;
}

#book_page #right_column hr {
    margin-top: 0;
}

#creator_id_section .creator_img_container {
    display: inline-block;
    padding-right: 1em;
}

#creator_id_section .creator_links_container {
    display: inline-block;
    min-width: 26em;
    vertical-align: top;
}

#book_id_section .dl-horizontal dt,
#creator_id_section .dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    white-space: nowrap;

    font-weight: normal;
    padding-right: 0.6em;
    text-align: left;
}

#book_id_section .dl-horizontal dt {
    width: 6.3em;
}

#creator_id_section .dl-horizontal dt {
    width: 5em;
}

#book_id_section .dl-horizontal dd,
#creator_id_section .dl-horizontal dd {
    text-align: left;
}

#book_id_section .dl-horizontal dd {
    margin-left: 6.3em;
}

#creator_id_section .dl-horizontal dd {
    margin-left: 5em;
    max-width: 20em;
}

#book_id_section .custom_links > li:first-child,
#creator_id_section .custom_links > li:first-child {
    padding-left: 0
}


@media screen and (min-width: 768px){

    #book_page #buttons_container {
        padding-top: 8%;
        padding-right: 8%;
    }

    #book_page #book_cover_img {
        padding-right: 1.2em;
    }
}

@media screen and (min-width: 1200px){

    #creator_id_section .creator_links_container {
        min-width: 35em;
    }

    #creator_id_section .dl-horizontal dd {
        max-width: 30em;
    }
}


#reader_page_header_margin,
#reader_page_footer_margin {
    margin: 1em;
}

#reader_page_header {
    background-color: #FFFFFF;
}

#reader_page_header #name_creator_section {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 0.6em;
}

@media screen and (min-width: 768px){
    #reader_page_header #name_creator {
        margin-top: -3em;
        padding-right: 0;
    }
}

#reader_page_header #book_name {
    font-size: 16pt;
    //line-height: 2em;
}

#reader_page_header #book_name a {
    color: #333333
}

#reader_page_header #creator {
    //padding: 0.4em 0;
}

#reader_page_header #creator_name {
    font-size: 8pt;
    line-height: 1em;
    margin-left: 0.1em;
}

#reader_section {
    text-align: center;
}

.scroll_slide_options {
    float: right;
    padding-top: 0.6em;
    padding-left: 7em;
    margin-top: -1.7em;
    margin-right: 0.2em;
}

.scroll_slide_options .btn-lg, .btn-group-lg > .btn {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.scroll_slide_options .btn-default {
    background-color: inherit;
    border-top: none;
    border-bottom: none;
    padding: 0 0.6em;
    font-size: 11px;
}

.scroll_slide_options .btn-group > .btn:first-child {
    border-left: none;
    border-right: 2px solid #DDDDDD;
}

.scroll_slide_options .btn-group > .btn:last-child {
    border-right: none;
    border-left: 2px solid #DDDDDD;
    padding-right: 0;
}

.scroll_slide_options .btn:active, .scroll_slide_options .btn.active {
    box-shadow: none;
    color: #0000FF;
}

.scroll_slide_options .btn.disabled {
    opacity: 0.2;
}

#reader_page_footer {
    background-color: #FFFFFF;
    margin-top: 15px;
}

#reader_page_footer #contribute_download_section {
    border-top: 1px solid #DDDDDD;
    padding-top: 0.6em;
}

#reader_page_footer .breadcrumb {
    background-color: inherit;
    font-size: 12px;
    line-height: 2em;
    margin: 0 0 20px;
    padding: 0;
}

#reader_page_footer .breadcrumb > li + li:before {
    content: "\7C"     /* Ascii hex code for | */
}

#reader_page_footer #contribute_widget_container {
    padding-right: 1.4em;
}


@media screen and (min-width: 992px){
    #reader_page_header {
        min-width: 60em;
    }
}

#slider_page .slide {
    display: none;
}

#reader_section #reader_container{
    position: relative;
}


#reader_section .nav-dots {
    bottom: 9px;
    display: block;
    height: 11px;
    padding: 8px 0 8px;
    text-align: center;
    width: 100%;
}

#reader_section .nav-dots .nav-dot {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    display: inline-block;
    height: 11px;
    margin: 0 4px;
    position: relative;
    top: -5px;
    width: 11px;
}

#reader_section .nav-dots .current {
    background-color: rgba(0, 0, 0, 0.7);
}

#reader_section .nav-dots .nav-dot:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#reader_section #show_comments {
    font-weight: bold;
}

#reader_page_footer .button_container .btn {
    float: right;
}

#profile_page .books_list_title h4 {
    display: inline-block;
}

#profile_page .books_list_title a {
    float: right;
}

#profile_book_pages_page #book_name {
    font-size: 16pt;
}

#profile_book_pages_page #book_description {
    font-size: 9pt;
    line-height: 1.2em;
    margin: 1em 0;
}

#profile_book_pages_page .fileupload_container {
    padding-top: 2em;
}

#profile_book_pages_page .template-download span.glyphicon {
    color: black;
    opacity: 0.3;
}
#profile_book_pages_page .template-download .arrow-muted {
    pointer-events: none;
    cursor: default;
}
#profile_book_pages_page .template-download .arrow-muted span {
    opacity: 0.1;
}

#paypal_form {
    margin: 0;
}

.footer {
    border-top: none;
    padding-top: 0;
}

.footer-content div {
    display: inline-block;
}

.footer-content #footer_links .breadcrumb {
    background-color: inherit;
    font-size: 11px;
    margin: 0 0 20px;
}

.footer-content #footer_links .breadcrumb > li + li:before {
    content: "\7C"     /* Ascii hex code for | */
}

/* temp stuff start \\\*/
#viewport_info {
    padding: 1em;
    font-size: 8pt;
}

#FIXME_page [class*="span"] {
    border: 1px solid red;
}

.input_container {
    display: inline-block;
    vertical-align: top;
}

#add_link_container .error_wrapper {
    display: none;
}

#add_link_container .input_container {
    margin-right: 0.6em;
}

#add_link_container #link_name {
    width: 10em;
}

.edit_link_template {
    display: none;
}

.edit_link_container .edit_field {
    display: inline-block;
    min-width: 10em;
}

.edit_link_container .edit_link_name {
    color: #666666;
    margin-right: 1em;
    text-align: right;
}

.edit_link_container .edit_link_delete {
    border: none;
    color: #666666;
}

.edit_link_container .edit_link_delete:hover,
.edit_link_container .edit_link_delete:focus {
    border: 1px solid #CCCCCC;
    padding-top: 0;
    padding-bottom: 0;
    color: #333333;
}

/* foundation-icons start */
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
/* foundation-icons end */

/* temp stuff end /// */
